@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #F0F6FA; }

/*
* Import Cavet Font by Google Font
* Link: https://fonts.google.com/specimen/Caveat
* font-family: 'Caveat', cursive;
*/
/*
* Import Lato Font by Google Font
* Link: https://fonts.google.com/specimen/Lato
* font-family: 'Lato', sans-serif;
*/
.description {
  font-family: 'Lato', sans-serif;
  font-size: 2.1rem;
  color: #364659;
  font-weight: 700; }

.paragraph {
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem; }

.link {
  color: #1789FC;
  text-decoration: none; }

.error {
  width: 60%;
  height: 80vh;
  margin: 15rem auto 10rem auto;
  border: 1px solid #000; }
  .error__grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "container-content container-image";
    border: 1px solid #f00; }
  .error__container-content {
    height: 80%;
    grid-area: container-content;
    border: 1px solid #00f; }
  .error__container-image {
    height: 90%;
    grid-area: container-image;
    position: relative;
    border: 1px solid #ff0; }
  .error__title {
    font-family: 'Caveat', cursive;
    font-size: 7.5rem;
    color: #222222;
    margin-bottom: 1.3rem; }
  .error__paragraph {
    line-height: 1.6;
    margin-bottom: 3rem; }
  .error__headline {
    color: #667B90;
    margin-bottom: 1.7rem; }
  .error__list {
    margin-bottom: 7rem; }
  .error__list-item {
    list-style: none;
    margin-bottom: 1rem; }
  .error__icon {
    margin-right: 1rem; }
  .error__sub-title {
    color: #031E39; }
  .error__image {
    position: absolute;
    width: 50%;
    bottom: 0%; }
