.description {
    font-family: 'Lato', sans-serif;
    font-size: 2.1rem;
    color: $font-paragraph;
    font-weight: 700;

    @include respond('es') {
        font-size: 1.5rem;
    }
}

.paragraph {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;

    @include respond('es') {
        font-size: 1.2rem;
    }
}

.link {
    color: $font-link;
    text-decoration: none;
}
